<!DOCTYPE html>
<!-- 
    HTML
    HYPERTEXT MARKUP LANGUAGE
-->
<html>

<head>
    <!--Configurações da página-->
    <title>Doe vida! Doe sangue</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <!--Todo o conteúdo visível para o usuário-->
    <header>
        <!--Conteúdo do topo-->
        <img class = "logo" src ="/logo.png" alt="imagem doe"> 
        <h2>Obrigado por se cadastrar!</h2>
        <p>Você será redirecionado em 3 segundos</p>
    </header>
   
    <footer>
        Com amor ❤ Rocketseat
        <!--Conteúdo do Rodapé-->
    </footer>
    <script>
        setTimeout(() => {
            window.location = "/";
        }, 3000)
    </script>
</body>

</html>